:root {
    --pg-background:       #2F2F2F; /* Grey            */
    --pg-grid-background:  #373446; /* Purple          */
    --pg-ready-background: #1B1B20; /* Dark Purple     */
    --pg-grid-square:      #E7E6EF; /* Very Light Grey */
    --pg-logo-text:        #2821B3; /* Dark Blue       */
}

body {
    background-color: var(--pg-background); /*#B5446E;  Pinky-purple */
}

button {
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--pg-grid-square); /*#9d19cb;  Purple */
    border: 8px solid var(--pg-logo-text); /*#e46222;*/
    box-shadow: 0px 0px 50px black;
    cursor: pointer;

    transition-duration: 0.13s;

    /* Text */
    font-family: Georgia;
    font-size: 650%;
    color: var(--pg-grid-background);
    text-align: center;
    text-decoration: none;
}

button:hover {
    width: 85%;
    height: 85vh;
    font-size: 750%;
    color: var(--pg-logo-text);
    border-color: var(--pg-grid-background);
}
